* {
    box-sizing: border-box;
}

.image {
    position: relative;
    margin: auto;
}

h1 {
    padding: 2% 30%;
    font-size: 40px;
}

.about p {
    font-size: 18px;
    padding: 0 7% 0 5%;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}

.makemoney {
    margin-top: -2%;
    width: 470px;
    height: 550px;
    float: right;
    padding: 0 5% 0 0;
    border: 30px solid rgb(255, 255, 255);
}

.developers {
    text-align: center;
    font-size: 40px;
}

.row {
    margin: 0 25%;
}

.column {
    float: left;
    width: 375px;
    margin-bottom: 50px;
    padding: 0 25px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    text-align: center;
    line-height: 1.6;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
    font-size: large;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #292929;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: larger;
    margin-top: 10px;
}

.button:hover {
    background-color: #555;
}