.container {
    margin-left: 280px;
    padding-top: 110px;
}

.title {
    font-size: 24px;
}

table {
    table-layout: fixed;
    width: 70em;
    padding: 5% 5%;
    background: #fff;
    border: 1px solid rgba(177, 174, 174, 0.773);
    border-collapse: collapse;
}

.abc {
    padding: 0.65rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid rgba(177, 174, 174, 0.773);
}

td {
    padding: 15px;
}

label {
    padding-left: 30%;
    font-weight: bold;
    margin-right: 10px;
}

.button {
    width: 50%;
    padding: 0.75rem 3.6rem;
    background-color: blueviolet;
    color: #fff;
    font-size: 1vw;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    border-radius: 6px;
}

.button:hover {
    opacity: 80%;
    transform: scale(1.01);
}