/* Topbar Menu */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: "Lato", sans-serif;
}

nav {
    position: fixed;
    background: #292929;
    width: 100%;
    z-index: 5;
}

.menu {
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 10;
}

.menu .logo:hover {
    transform: scale(1.12);
}

#user {
    font-size: 20px;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 30px 44px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background: #fff;
    color: black;
}

.log:hover {
    background: #fff;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin: 32px 7px;
    display: none;
    position: absolute;
    background-color: #1b1b1b;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    scroll-behavior: smooth;
}

.dropdown-content a {
    border-radius: 5px;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #fff;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu #nav-check,
.menu .nav-btn {
    display: none;
}


/* Sidebar Menu */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 70px;
    background-color: #292929e8;
    overflow-x: hidden;
    padding-top: 30px;
}

i {
    padding: 0px 10px;
    color: #9d9d9d;
}

.main {
    padding: 12px 0px 18px 25px;
    color: #9d9d9d;
    font-size: 18px;
    letter-spacing: 5px;
}

.sidenav a,
.dropdown-btn {
    padding: 12px 10px 16px 15px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition-timing-function: ease;
}

.active {
    background-color: #262626;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #585656a0;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}
